In [12]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', 199)  # or 199

import seaborn as sns
from glob import glob
import re

import matplotlib.pyplot as plt 
import plotly.graph_objects as go
import plotly.express as px
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.preprocessing import  LabelEncoder, OrdinalEncoder
from sklearn.impute import KNNImputer

from IPython.core.display import HTML

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

rc={'axes.labelsize': 15, 'font.size': 15, 'legend.fontsize': 15, 'axes.titlesize': 15}
plt.rcParams.update(**rc)

HTML("""
<style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style>
""")

In [10]:
df = pd.read_csv("df_eda.csv"); 
df.drop([col for col in df.columns.tolist() if 'Unnamed' in col] , axis = 'columns', inplace=True)

In [11]:
df.head()

,idade,desligado,viagens,departamento,distancia_de_casa,nivel_educacional,campo_da_educacao,id_do_empregado,satisfacao_com_ambiente,genero,envolvimento_com_o_trabalho,cargo,satisfacao_com_trabalho,renda_mensal,numero_de_companhias_que_trabalhou,percentual_de_aumento_salarial,desempenho,satisfacao_com_relacionamento,anos_de_trabalho,treinamentos_no_ultimo_ano,equilibrio_vida_trabalho,anos_na_empresa,anos_desde_a_ultima_promocao,anos_com_atual_gestor,target
0,43.0,no,Rarely,Research & Development,30.0,3,Life Sciences,1255,3,Male,1,Research Director,4,197.000000,3,14,3,2,25.0,2,3,8,0,7,0
1,40.0,no,Rarely,Human Resources,60.0,2,Medical,1550,3,Male,3,Manager,4,16437.000000,1,21,4,4,21.0,2,3,21,7,7,0
2,31.0,no,Rarely,Research & Development,80.0,5,Life Sciences,1430,1,Female,3,Research Director,2,16422.000000,3,11,3,3,9.0,3,4,3,1,0,0
3,49.0,no,Rarely,Research & Development,220.0,4,Other,1655,1,Female,3,Research Director,2,16413.000000,3,16,3,2,27.0,2,3,4,1,2,0
4,44.0,no,Rarely,Research & Development,280.0,3,Life Sciences,1523,4,Male,3,Research Director,1,13492.333333,3,13,3,3,24.0,1,4,20,14,17,0

# Variaveis categóricas

In [17]:
cols_cat = df.select_dtypes(include=['object']).columns
df[cols_cat].head(2)

,desligado,viagens,departamento,campo_da_educacao,genero,cargo
0,no,Rarely,Research & Development,Life Sciences,Male,Research Director
1,no,Rarely,Human Resources,Medical,Male,Manager

In [18]:
le  = LabelEncoder()
hot = OneHotEncoder()

In [19]:
le.fit_transform(df[cols_cat])

ValueError: y should be a 1d array, got an array of shape (1352, 6) instead.

In [ ]:
df[cols_cat]